{% extends 'base.html.twig' %}

{% block title %}Auteurs{% endblock %}

{% block body %}
<section class="container px-4">
    <h1>Liste d'auteur</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
                <tr>
                    <td>{{ author.id }}</td>
                    <td>{{ author.name }}</td>
                    <td>
                        <a href="{{ path('app_admin_author_show', {'id': author.id}) }}" class="btn btn-primary">Détail</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">Aucun auteur trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagerfanta(authors)}}
</section>
{% endblock %}
