{% extends 'base.html.twig' %}

{% block title %}Maintenance du site{% endblock %}

{% block body %}
    <section id="about">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Le site est en maintenance</h2>
                    <p class="lead">Nous sommes désolés pour la gêne occasionnée. Nous travaillons actuellement à la résolution du problème. Merci de votre compréhension.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}